.idea/libraries/
.idea/**/*.xml
!.idea/copyright/*.xml
!.idea/fileTemplates/*.xml
!.idea/inspectionProfiles/*.xml
!.idea/gradle.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

.gradle/

build/

out/
